.card-header>.nav .nav-link {
    text-transform: none;
    width: 100%;
    display: inline;
    border: none;
    color: #000000;
}

.nav-tabs {
    border-bottom: 1px none #FFFFFF!important;
}


.mt-2, .my-2 {
    margin-top: 0.9rem !important;
}

.small, .small {
    font-size: 53%;
    font-weight: 400;
}

/* Admin Page Button */
.body-tabs-shadow .body-tabs-animated .nav-link::before {
    box-shadow: 0 16px 26px -10px rgb(246 144 175), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(63 106 216 / 20%);
}

.tabs-animated .nav-link::before {
    background: #e3342f;
}