.card-header>.nav .nav-link {
    text-transform: none;
    width: 100%;
    display: inline;
    border: none;
    color: #000000;
}

.nav-tabs {
    border-bottom: 1px none #FFFFFF!important;
}


.mt-2, .my-2 {
    margin-top: 0.9rem !important;
}

.small, .small {
    font-size: 53%;
    font-weight: 400;
}
